@import "_variables.scss";

footer {
	background-color: $darkBlue;
	color: $White;
	text-align: center;
}
.footer_logo {
	margin: 20px 0px;
	display: inline-block;
}

.socials {
	img {
		padding: 4px;
		margin-bottom: 5px;
	}
}
.links {
	display: flex;
	flex-direction: column;
	a {
		color: $White;

		padding: 4px;
	}
}

.footer_cta {
	width: 100px;
	height: 20px;
	margin: 10px auto;
}

.copyright {
	font-size: 50%;
}
